.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    font-size: larger;
}

.logo img{
    display: flex;
    align-items: center;
    width: 48.2px;
    border-radius: 14px;
    transition: transform 0.3s ease; /* duration and easing */
}

.logo img:hover{
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    font-size: larger;
    font-weight: bolder;
}

.nav-links a:hover{
    color: var(--primary-color);
}

.auth-links {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.auth-links a{
    text-decoration: none;
    color: var(--text-color);
    font-size: larger;
    font-weight: bolder;
}

.auth-links a:hover{
    color: var(--primary-color);
}

.auth-links a.login {
    width: 80px; /* Fixed width to accommodate "Logout" */
    text-align: center; /* Center the text */
}

.auth-links a.login {
    min-width: 80px; /* Minimum width to accommodate "Logout" */
    text-align: center;
}
