.skeleton {
    animation: skeleton-loading 0.8s linear infinite alternate;
    /* background-color: hsl(200, 20%, 85%); */
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 85%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-text {
    min-height: 1rem;
    min-width: 200px;
}

