/* *{
    margin-left: calc(1.5%);
    margin-right: calc(1.5%);
} */
:root {
    --primary-color: #ff5200;
    --secondary-color: #6dde6d;
    --background-color: white;
    --text-color: #2f2f2f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    margin-left: calc(7% + 52px);
    margin-right: calc(7% + 52px);
    font-family: Arial, Helvetica, sans-serif;
}